body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: #868e96;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 20rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

h2 {
    font-size: 3.5rem;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem;
    }
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .social-icons a {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1rem;
        line-height: 2.5rem;
        margin-right: 0.5rem;
    }
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #BD5D38;
}

.dev-icons {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .dev-icons {
        font-size: 2rem;
    }
}

.dev-icons .list-inline-item i:hover {
    color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

@media (max-width: 767.98px) {
    .resume-section {
        width: 80%;
        margin: 0 auto;
    }
}

.resume-section .resume-section-content {
    width: 100%;
}

.bg-primary {
    background-color: #BD5D38 !important;
}

.text-primary {
    color: #BD5D38 !important;
}

a {
    color: #BD5D38;
}

a:hover, a:focus, a:active {
    color: #824027;
}

.card-title {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    color: #343a40;
}

.card-text {
    color: #868e96;
}

.btn-primary {
    background-color: #BD5D38;
    border-color: #BD5D38;
}

.btn-primary:hover {
    background-color: #824027;
    border-color: #824027;
}

.language-switcher {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1030;
    display: flex;
    align-items: center;
}

.ml-2rem {
    margin-left: 2rem !important;
}

/* Remover margin-left quando em mobile */
@media (max-width: 991.98px) {
    .ml-2rem {
        margin-left: 0 !important;
    }
}

@media (max-width: 991.98px) {
    .language-switcher {
        top: 4rem;
        right: 1rem;
    }
}

@media (max-width: 767.98px) {
    .col-md-6.col-lg-4 {
        width: 80%;
        margin: 0 auto;
    }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Hidden by default */
    z-index: 99; /* Ensure it's above other content */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #BD5D38; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: opacity 0.3s; /* Smooth transition for fade in/out */
}

#back-to-top:hover {
    background-color: #824027; /* Darker background on hover */
}
